
<!-- #page-header -->
<div id="page-header" class="clearfix">
    <!-- #logo -->
    <div id="header-logo">
        <a href="javascript:;" class="tooltip-button" data-placement="bottom" title="Close sidebar" id="close-sidebar">
            <i class="glyph-icon icon-caret-left"></i>
        </a>
        <a href="javascript:;" class="tooltip-button hidden" data-placement="bottom" title="Open sidebar" id="rm-close-sidebar">
            <i class="glyph-icon icon-caret-right"></i>
        </a>
        <a href="javascript:;" class="tooltip-button hidden" title="Navigation Menu" id="responsive-open-menu">
            <i class="glyph-icon icon-align-justify"></i>
			
        </a>
        <img style="padding:20px "src="{{ asset('assets/images/logo.png')}}" alt="">
        <i class="opacity-80"></i>
    </div>
    <!-- #page -->
  
    <!-- #page -->
    <div class="hide" id="white-modal-80" title="Dialog with tabs">
        <div class="tabs pad15A remove-border opacity-80">
            <ul class="opacity-80">
                <li><a href="#example-tabs-1">First</a></li>
                <li><a href="#example-tabs-2">Second</a></li>
                <li><a href="#example-tabs-3">Third</a></li>
            </ul>
            <div id="example-tabs-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
                </p>
            </div>
            <div id="example-tabs-2">
                <p>Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.
                </p>
                <p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
                </p>
            </div>
            <div id="example-tabs-3">
                <p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
                </p>
                <p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
                </p>
            </div>
        </div>
        <div class="pad10A">
            <div class="infobox success-bg radius-all-4">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque</p>
            </div>
        </div>
        <div class="ui-dialog-buttonpane clearfix">

            <a href="dropdown_menus.html" class="btn medium float-left bg-azure">
                <span class="button-content text-transform-upr font-size-11">Dropdown menus</span>
            </a>
            <div class="button-group float-right">
                <a href="buttons.html" class="btn medium bg-black" title="View more buttons examples">
                    <i class="glyph-icon icon-star"></i>
                </a>
                <a href="buttons.html" class="btn medium bg-black" title="View more buttons examples">
                    <i class="glyph-icon icon-random"></i>
                </a>
                <a href="buttons.html" class="btn medium bg-black" title="View more buttons examples">
                    <i class="glyph-icon icon-map-marker"></i>
                </a>
            </div>
            <a href="javascript:;" class="medium btn primary-bg-alt float-right mrg10R tooltip-button" data-placement="left" title="Remove comment">
                <i class="glyph-icon icon-plus"></i>
            </a>

        </div>
    </div>
    <!-- #right-icon -->
    {#  <div class="user-profile hidden-mobile">
          <a href="javascript:;" title="" id="open-left-menu" class="updateEasyPieChart user-ico clearfix">
              <i class="glyph-icon icon-th-list"></i>
          </a>
      </div>#}
    <!-- #user-profile-->
    <div class="user-profile dropdown">
        <a href="javascript:;" title="" class="user-ico clearfix" data-toggle="dropdown">
            {% block header %}
                <img width="36" src="{{ app.session.get('picture')}}" alt="">
                <span>{{ app.session.get('username')}}</span>
            {% endblock %}
            <i class="glyph-icon icon-chevron-down"></i>
        </a>
        <ul class="dropdown-menu float-right">
          
         
            <li>
                <a href="{{path('tsldap_logout')}}" title="">
                    <i class="glyph-icon icon-signout font-size-13 mrg5R"></i>
                    <span class="font-bold">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #dash-menu -->
   
    <!-- #icons -->
    <div class="top-icon-bar">
        
    </div>

</div>
<script>

    function changeEditValue(_this)
    {
        var tr = document.getElementById(_this.id + '#');

        if (tr.style.display === "none") {
            tr.style.display = "block";
        }
        else {
            tr.style.display = "none";
        }
    }
  
</script>