{# src/TS/AdminBundle/Resources/views/Candidate/checkQuestions.html.twig #}
{% extends "TSAdminBundle:Candidate:candidatTests.html.twig" %}
{% block content %}


    <div class="form-row pad0B">
        <div class="form-checkbox-radio col-md-12">
            <div class="checkbox-radio">
              {#  {% for number in numbers %}
                    {{number}} 
                    <br/>
                {% endfor %}#}
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <input href=""  type="submit" value="Edit" name="submitAction" class="btn medium primary-bg primary-bg radius-all-4" />
    </div>

{% endblock %}