 {# src/TS/EvaluatorBundle/Resources/views/Candidat/JavaNiv1.html.twig #}
{% extends "TSAdminBundle:Candidate:candidatTests.html.twig" %}
{% block content %}

<div class="row ">
    <div class="col-md-12" style="margin-top:20px">
        <div class="content-box border-top border-bottom border-blue mrg25B col-md-11 center-margin">
            <h3 class="content-header">
                <span> <b> Java Niveau1 </b></span>
            </h3>
            <div class="content-box-wrapper">
                              {#                //************************************************#}
                <div class="divider" ></div>
                <p class="col-md-12">  <b> Q6 : Qu'est-ce que la Sandbox ?</b></p>

                <div class="row">
                    <p class="col-md-12"> 
                    <div class="form-checkbox-radio col-md-9">
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Un espace d'exécution limitant les droits du code Java</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Un outil du JDK permettant de développer des Javabeans</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Une librairie Java de composants graphiques</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Une méthode de conception Java</label>
                        </div>
                    </div>
                    </p>
                </div>
                                         {#                //************************************************#}
                <div class="divider" ></div>
                <p class="col-md-12">  <b> Q7 : Quelle est l'assertion qui n'est pas une amélioration du JDK 1.5 ?</b></p>

                <div class="row">
                    <p class="col-md-12"> 
                    <div class="form-checkbox-radio col-md-9">
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">L'autoboxing permet de transformer automatiquement une variable de type primitif</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Les métadonnées, standardise l'ajout d'annotation dans le code</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">L'API java.nio met à disposition quatre nouvelles familles de classes employées pour les opérations E/S </label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Les generics permettent d'accroître la lisibilité du code et surtout de renforcer la sécurité du code </label>
                        </div>
                    </div>
                    </p>
                </div>
                                        {#                //************************************************#}
                <div class="divider" ></div>
                <p class="col-md-12">  <b> Q8 :Une interface en Java peut contenir :</b></p>

                <div class="row">
                    <p class="col-md-12"> 
                    <div class="form-checkbox-radio col-md-9">
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Des déclarations de méthodes et de constantes</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Des déclarations de méthodes</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Des déclarations de méthodes et de méthodes statiques</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">Des décalarations de méthodes et de constructeurs</label>
                        </div>
                    </div>
                    </p>
                </div>
                                       {#                //************************************************#}
                <div class="divider" ></div>
                <p class="col-md-12">  <b> Q9 :Pour avoir un commentaire sur une ligne, on place en début de ligne le(s) caractère(s) :
                    </b></p>

                <div class="row">
                    <p class="col-md-12"> 
                    <div class="form-checkbox-radio col-md-9">
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">//</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">#</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">/*</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">%</label>
                        </div>
                    </div>
                    </p>
                </div>
                           {#                //************************************************#}
                <div class="divider" ></div>
                <p class="col-md-12">  <b> Q10 :Lequel n'a pas sa place parmi ces choix : </b></p>

                <div class="row">
                    <p class="col-md-12"> 
                    <div class="form-checkbox-radio col-md-9">
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">instanceof</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">select</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">for</label>
                        </div>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="" id="">
                            <label for="">volatile</label>
                        </div>
                    </div>
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-12" >
            <a href="{{path('ts_admin_java1')}}" Style="float: right; margin-right: 50px;" class="right col-md-1 btn small primary-bg"  >
                <span class="button-content">Validate</span>
            </a>
            <a href="{{path('ts_admin_java1_1')}}" Style="float: left; margin-left: 50px;" class="right col-md-1 btn small primary-bg"  >
                <span class="button-content">Previous</span>
            </a>
        </div>
    </div>
</div>
 {% endblock %}