<div  id="ModalInviteCandidate{{candidat.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       {{ render(controller('TSAdminBundle:Notification:persistOtherInvitation', {'id':candidat.id} )) }}
    </div>




