.headlist {
    list-style: none;
    padding: 0;
    width: 9.86%; 
    height: 40px; 
    float:right;
    margin: 20px auto;
    background: #DA2525 ;
    position: relative; 
    z-index: 400;
    border-right: 1px solid #fff;
}
.headlist a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #999;
}
.headlist a:hover { color: #777; }
.headlist a.navigation {
    display: block; 
    height: 40px;
    font: bold 12px/40px arial, sans-serif; 
    text-align: center; 
    text-decoration: none; 
    color: #FFF;  
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 100;
}

.headlist:hover a.navigation {
    color: rgba(255,255,255,0.6);
    background: rgba(0,0,0,0.04);
}

.headlist li { 
    width: 100%; 
    height: 30px;
    background: #F7F7F7;
    font: normal 10px/40px arial, sans-serif !important; 
    color: #999;
    text-align: center;
    margin: 0;
    -webkit-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(350px) rotateX(-90deg);
    -o-transform: perspective(350px) rotateX(-90deg);
    transform: perspective(350px) rotateX(-90deg);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.headlist li:nth-child(even) { background: #F5F5F5; }
.headlist li:nth-child(odd) { background: #EFEFEF; }


.headlist li.n1 {
    -webkit-transition: 0.2s linear 0.9s;
    -o-transition: 0.2s linear 0.9s;
    transition: 0.2s linear 0.9s;
}
.headlist li.n2 {
    -webkit-transition: 0.2s linear 0.8s;
    -o-transition: 0.2s linear 0.8s;
    transition: 0.2s linear 0.8s;
}
.headlist li.n3 { 
    -webkit-transition:0.2s linear 0.7s;
    -o-transition:0.2s linear 0.7s;
    transition:0.2s linear 0.7s;
}
.headlist li.n4 {
    -webkit-transition: 0.2s linear 0.6s;
    -o-transition: 0.2s linear 0.6s;
    transition: 0.2s linear 0.6s;
}
.headlist li.n5 { 
    -webkit-transition: 0.2s linear 0.5s;
    -o-transition: 0.2s linear 0.5s;
    transition: 0.2s linear 0.5s;
}
.headlist li.n6 {
    -webkit-transition: 0.2s linear 0.4s;
    -o-transition: 0.2s linear 0.4s;
    transition: 0.2s linear 0.4s;
}
.headlist li.n7 {
    -webkit-transition: 0.2s linear 0.3s;
    -o-transition: 0.2s linear 0.3s;
    transition: 0.2s linear 0.3s;
}
.headlist li.n8 { 
    -webkit-transition:0.2s linear 0.2s;
    -o-transition:0.2s linear 0.2s;
    transition:0.2s linear 0.2s;
}
.headlist li.n9 { 
    -webkit-transition: 0.2s linear 0.1s;
    -o-transition: 0.2s linear 0.1s;
    transition: 0.2s linear 0.1s;
}
.headlist li.n10 {
    border-radius: 0px 0px 4px 4px;
    -webkit-transition: 0.2s linear 0s;
    -o-transition: 0.2s linear 0s;
    transition: 0.2s linear 0s;
}

.headlist:hover li {
    -webkit-transform: perspective(350px) rotateX(0deg);
    -o-transform: perspective(350px) rotateX(0deg);
    transform: perspective(350px) rotateX(0deg);
    -webkit-transition:0.2s linear 0s;
    -o-transition:0.2s linear 0s;
    transition:0.2s linear 0s;
}
.headlist:hover .n2 {
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.headlist:hover .n3 {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.headlist:hover .n4 {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.headlist:hover .n5 {
    transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.headlist:hover .n6 {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.headlist:hover .n7 {
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.headlist:hover .n8 {
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.headlist:hover .n9 {
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
.headlist:hover .n10 {
    transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

