@charset "utf-8";
body {
    margin:0;
    padding:0;
    width:100%;
    color:#8a8a8a;
    font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
    background:repeat left top;
}
html, .main {
    padding:0;
    margin:0;
}
.main {
    background:no-repeat center top;
}
.clr {
    clear:both;
    padding:0;
    margin:0;
    width:100%;
    font-size:0;
    line-height:0;
}
h2 {
    margin:0;
    padding:8px 0;
    font-size:25px;
    font-weight:normal;
    color:#3f3f3f;
}
p {
    margin:8px 0;
    padding:0 0 8px 0;
}
a {
    color:#fdbb20;
    text-decoration:underline;
}
.header, .content,.fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
    margin:0;
    padding:0 20px 0 20px;
}
.header {
}
.header_resize {
    margin:0 auto;
    padding:0;
    width:100%;
}
.logo {
    margin:0;
    padding:15px 0 0;
    float:left;
    height:50px;
}

.rss {
    padding:18px 20px 0 0;
    float:right;
    width:auto;
}
.rss p {
    margin:0;
    padding:0;
    float:right;
    width:auto;
    color:#fff;
    font-size:13px;
    line-height:1.5em;
    font-weight:bold;
}
.rss a {
    color:#fff;
    text-decoration:none;
}
.rss a:hover {
    text-decoration:underline;
}
.rss img {
    margin:-3px 0 -3px 6px;
    border:none;
}
.content {
    padding: 0;
    width: 80%;
    margin-left: 16%;
    position: relative;
    border: 1px solid #f4f4f4;
}
.content_resize {
    margin: -70px auto;
    padding:18px 0 32px;
    width:100%;
}
.content .mainbar {
    margin:0;
    padding:0;
    float:left;
    width:60%;
    background:#fff;
    position:relative;
}
.content .mainbar h2 {
    margin-bottom:10px;
    background: #000 ;
}
.content .mainbar div.img {
    padding:12px 0;
    float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
    margin:0;
    padding:0;
    background:#fff;
    border:1px solid #8b8b8b;
}
.content .mainbar .article {
    margin:0 0 12px;
    padding:0;
    border:1px solid #f4f4f4;
}
.content .mainbar .article a {
    color:#334e7d;
}
.mainbar p.infopost .post_date{
    float:right;
}
p.infopost,.mainbar .post_content {
    padding: 20px;
}
.content .mainbar .post_content {
    width:95%;
}
.content .mainbar p.infopost b {
    color:#000;
}
.content .sidebar {
    padding:0;
    float:right;
    width:24%;
    position:relative;
}
.content .sidebar .gadget {
    margin:0 0 32px;
    padding:0;
    border:1px solid #f4f4f4;
}

.content .mainbar h2 , .content .sidebar h2 {
    padding-bottom:8px;
    border-bottom:1px solid #bebebe;
    font-family:"Liberation sans", Arial, Helvetica, sans-serif;
    line-height:10px;
    font-weight:normal;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
}
.content .sidebar h2 {
    margin-bottom:0;
    background: #95C11F ;
}
.content .sidebar h2,.content .sidebar .gadget .sb_menu li img{
    padding-left: 10px
}
.article .text_home{
    font-size: 23px!important;
    line-height: 23px!important;
    margin:20px;
    padding: 0;
    color: #ccc;
    letter-spacing: 0;
}
ul.sb_menu, ul.ex_menu {
    margin:0;
    padding:0;
    list-style:none;
    color:#929292;
}
.ex_menu img{
    width:90%;
    height:90%;
    margin:15px;
}
ul.sb_menu li {
    margin:0;
}
ul.sb_menu li {
    padding:8px 0;
    width:220px;
}

ul.sb_menu li a {
    color:#929292;
    text-decoration:none;
    margin-left:-16px;
    padding:4px 8px 4px 20px;
}

ul.sb_menu li a:hover{
    color:#95C11F;
    font-weight:bold;
    text-decoration:underline;
}
p.spec {
    padding:0 0 16px;
}
p.infopost {
    margin-bottom:0;
    color:#8a8a8a;
}
p.infopost a {
    padding:0 2px;
    color:#8a8a8a;
    text-decoration:underline;
}
.content .mainbar a.com {
    margin:0;
    padding:0;
    float:right;
    font-weight:normal;
    text-decoration:none;
    color:#334e7d;
}
.content .mainbar a.com:hover {
    text-decoration:underline;
}
.content .mainbar a.com span {
    padding-left:4px;
    font-weight:bold;
    color:#334e7d;
}
.content .mainbar a.rm {
    float:right;
    margin:0 0 16px;
    padding:0;
    font-size:13px;
    line-height:18px;
    font-weight:normal;
    text-transform:uppercase;
    color:#000;
    text-decoration:none;
    text-align:center;
    background:none;
}
.content .mainbar a.rm:hover {
    text-decoration:underline;
}
.content p.pages {
    margin:0;
    padding:16px 0;
    font-size:11px;
    color:#929292;
    text-align:left;
    border-top:1px solid #bebebe;
}
.content p.pages span, .content p.pages a {
    padding:8px 12px;
    text-decoration:none;
    background:#fff;
}
.content p.pages span, .content p.pages a:hover {
    color:#fff;
    background:#95C11F ;
}
.content p.pages a {
    color:#929292;
}
.content p.pages small {
    font-size:12px;
    float:right;
}
.content .mainbar .comment {
    margin:0;
    padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
    border:1px solid #dedede;
    margin:10px 16px 0 0;
    padding:0;
    float:left;
}
.fbg {
}
.fbg_resize {
    margin:0 auto;
    width:920px;
    padding:16px 20px;
    color:#8a8a8a;
    border-bottom:1px solid #000;
}
.fbg h2 {
    color:#e7e7e7;
    padding-bottom:24px;
}
.fbg img.gal {
    margin:0 8px 8px 0;
    padding:0;
    border:none;
}
.fbg .col {
    margin:0;
    float:left;
}
.fbg .c1 {
    padding:0 16px 0 0;
    width:280px;
}
.fbg .c2 {
    padding:0 36px 0 16px;
    width:280px;
}
.fbg .c3 {
    padding:0 0 0 16px;
    width:274px;
}
.fbg .fbg_ul {
    margin:0;
    padding:0;
    list-style:none;
}
.fbg .fbg_ul li {
    margin:0;
    padding:0;
    list-style:none;
}
.fbg .fbg_ul li a {
    display:block;
    margin:0;
    padding:2px 0 2px 12px;
    color:#8a8a8a;
    text-decoration:none;
    background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
    color:#fdbb20;
    text-decoration:underline;
}
.fbg p.contact_info {
    line-height:1.8em;
}
.fbg p.contact_info a {
    color:#fdbb20;
    text-decoration:underline;
}
.fbg p.contact_info span {
    display:block;
    float:left;
    width:74px;
    font-weight:bold;
    color:#fff;
}
ol {
    list-style:none;
}
ol li {
    display:block;
    clear:both;
}
ol li label {
    display:block;
    margin:0;
    padding:16px 0 0 0;
}
ol li input.text {
    width:480px;
    border:1px solid #c0c0c0;
    margin:0;
    padding:5px 2px;
    height:16px;
    background-color:#fff;
}
ol li textarea {
    width:480px;
    border:1px solid #c0c0c0;
    margin:0;
    padding:2px;
    background-color:#fff;
}
ol li .send {
    margin:16px 0 0 0;
}
.searchform {
    margin:0;
    padding:0;
    float:right;
}
#formsearch {
    margin:0;
    padding:44px 0 0;
    width:auto;
    height:30px;
}
#formsearch span {
    display:block;
    margin:0;
    padding:0;
    float:left;
    background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
    margin:0;
    padding:8px 6px;
    float:left;
    width:174px;
    font-size:12px;
    line-height:14px;
    color:#aeaeae;
    background:none;
    outline:none;
    border:none;
}
#formsearch input.button_search {
    margin:0;
    padding:0;
    border:none;
    float:left;
}
/******** footer zone *********/
.footer {
    position: relative;
    top: 250px;
}
.footer_resize {
    margin:50px auto;
    line-height:1.5em;
    color:#929292;
    border-top:1px solid #323232;
}
.footer_resize p {
    margin:24px 0;
    padding:0;
    line-height:normal;
    white-space:nowrap;
    text-indent:inherit;
}
.footer_resize a {
    color:#fff;
    font-weight:normal;
    margin:0;
    padding:0;
    border:none;
    text-decoration:underline;
    background-color:transparent;
}
.footer_resize a:hover {
    color:#fdbb20;
    background-color:transparent;
    text-decoration:none;
}
.footer_resize .lf {
    float:left;
}
.footer_resize .rf {
    float:right;
}
a {
    outline:none;
}
.footer_resize .social{
    margin-top: 20px;
    float:right;
}
/******** left zone *********/
.left{
    float: left;
    margin-left: 20px;
    width: 15%;
    border: 1px solid #f4f4f4;
    position: fixed;
}