#login {
    margin: 150px auto;
    padding: 20px;
    width: 470px;
    height: 305px;
    background: rgb(247, 247, 247);
    border: 1px solid #dedede;
}
div#login img{
    margin-left: 150px;
}
input:-webkit-autofill{
    background-color: rgb(120, 255, 189);
}
input[type="submit"]{
    font-size: 18px;
    color: #fff;
    background: #95C11F;
}
input:not([type="checkbox"]){

    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
div#fos_user_registration_form label{
    display: none;
}
div#login.inscription{
    height:225px;
}