{# src/TS/AdminBundle/Resources/views/Tests/editQuestion.html.twig #}
<form class="left-side" action="{{ path('ts_admin_duplicateTest')}}?idtest={{idtest}}"  method="post">
    <div class="modal-header">
        <a href="#" class="float-right" data-placement="left" title="close" data-dismiss="modal">
            <i class="glyph-icon icon-remove"></i>
        </a>

        <h3 id="myModalLabel">Duplicate Test  : </h3>
    </div>
    <div class="modal-body bg-yellow">



        


              

                <div class="infobox warning-bg">
                    <div class="bg-yellow large btn info-icon">
                        <i class="glyph-icon icon-warning"></i>
                    </div>
                     <h4 class="infobox-title">warning!</h4>
                    <p>this test is affected to some candidates, if you want to <b>delete or modify <b>this test you can <b>duplicate</b> it. </p>
                    <br>
                </div>

           
          








    </div>
    <div class="modal-footer">
        <div class="col-md-2 float-right">
            <input type="submit" value="Duplicate" name="submitAction" class="btn medium primary-bg" />

        </div>
       







    </div>
  

</form>

