{# src/TS/AdminBundle/Resources/views/Tests/menuTest.html.twig #}


<div class="form-row">
    <div class="form-input col-md-12 disabled">
        <textarea  name="{{question.id}}" >
        </textarea>
    </div>
</div>
