<div  id="Remove{{test.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         {{ render(controller('TSAdminBundle:Tests:selectRemoveTest',  {'id':test.id} )) }}
    </div>


