<div  id="Customize{{test.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            {{ render(controller('TSAdminBundle:Tests:selectCustomizeEditTest',  {'id':test.id} )) }}
    </div>


