{# src/TS/AdminBundle/Resources/views/Tests/removeTest.html.twig #}
{# src/TS/AdminBundle/Resources/views/Tests/removeTest.html.twig #}

  <div class="modal-header">
            <a href="#" class="float-right" data-placement="left" title="close" data-dismiss="modal">
                <i class="glyph-icon icon-remove"></i>
            </a>

            <h3 id="myModalLabel">Remove Question : </h3>
        </div>
        <div class="modal-body">
            
            
            
  <div class="row">
    <div class="col-md-12">
      

           
                
                

               
        <h4 style="color: red">Sorry you can't remove this test ?</h4>
                

          
                  
                  
               
           
        
    </div>
</div>
            
          
   

            
            
            

        </div>
        <div class="modal-footer">
            
        <button type="button" data-dismiss="modal" aria-hidden="true"  class="center btn medium primary-bg" data-toggle="button">Close</button>



       
    
    
    
    
    
        </div>
     





















