
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #0D8FD1;
}

input[type="submit"].btn {
    background: #0D8FD1;
}
input[type="submit"].btn:hover {
    border-top-color: #0D8FD1;
    background: #0D8FD1;
    color: #ccc;
}
input[type="submit"].btn:active {
    border-top-color: #0D8FD1;
    background: #0D8FD1;
} 

/*les erreurs******************************/
article div ul li{
    color: #0D8FD1;
}
